<h1>Your Cart</h1>


<% if @cart.empty? %>
    <br><br>
    <h4>Your Cart is empty.</h4>
    <br>
    <p>
     <%= link_to 'Continue Shopping', :controller => :items %>
    </p>
<% else %>

<%= form_for(:session, url: orders_path) do |f| %>
<% total = 0 %>
	
<table class="cart">
    
    <tr>
        
        <th> &nbsp; &nbsp; </th>
        <th>Item &nbsp;</th>
        <th>Price &nbsp;</th>
        <th>Qty &nbsp;</th>
        <th>Total &nbsp;</th>
       
    </tr>
	
<% @cart.each do | id, quantity | %>
    <% item = Item.find_by_id(id) %>
    <tr>
        
        
        <td>
            <div class="image">
                <%= link_to (image_tag item.image_url, :style => "height:40px, width:40px"), item %>  &nbsp; &nbsp; &nbsp;
            </div>
        </td>
        
        <td class="title"><%= link_to item.title, item %></td> &nbsp; &nbsp; 
        <td class="price"><%= number_to_currency(item.price, :unit => "€") %></td>&nbsp; &nbsp;
        <td class="quantity"><%= quantity %><br /></td> &nbsp;  
        <td class="price">
          <%= number_to_currency(quantity * item.price, :unit => "€") %>
        </td> &nbsp;&nbsp;
        <td>
            <div class="links">
                <a href="/cartdel/<%= item.id %>" >Delete</a>
            </div>
        </td> &nbsp; &nbsp;
        
    </tr>
    <tr><th colspan="4">&nbsp; &nbsp; &nbsp;</th></tr>
    <% total += quantity * item.price %>
<% end %>
    <% session[:cart_total] = total %>
    <tr>
        
        <th colspan="4">
            <div class="total">Total:</div>
        </th>
        <td>
            <div class="price"><%= number_to_currency(total, :unit => "€") %></div>
        </td>
    </tr>
</table>

<br><br>
<p><%= link_to 'Continue Shopping', :controller => :items %> | 
<%= f.submit "Order" %>
<% end %>
<% end %>