<div class="row">
    <div class="col-xs-8">
      <h5><%= number %>. Order id_<%=order.id %> , Created at <%= order.created_at.to_date  %>, €<%=order.totalprice%></small></h5>
    </div>
    
    
  </div>