<p id="notice"><%= notice %></p>

<h1>Catalog</h1>

<br><br>

<table>

<% @items.each do |item| %>

   <tr >
     <td >
         <div class="image" style="padding-top:20px;padding-bottom=10px;">

         <%= image_tag item.image_url if item.image? %>
         </div>
     </td>

     <td>
         &nbsp;&nbsp;
         <div class="title">
            &nbsp;&nbsp; <%= link_to item.title, item %>
         </div>
         <div class="description">
            &nbsp;&nbsp; <%=h item.description %> &nbsp;&nbsp;
         </div>
         <div class="price">
           &nbsp;&nbsp;  <%= number_to_currency(item.price, :unit =>
'€') %> &nbsp;&nbsp;
         </div>
         <div class="links">
             <br>
             <% if session[:login] == 1 %>
              &nbsp;&nbsp; <%= link_to 'Edit', edit_item_path(item) %> | &nbsp;&nbsp;
             &nbsp;&nbsp;  <%= link_to 'Delete', item, method: 
:delete,   data: { confirm: 'Are you sure?' } %> &nbsp;&nbsp;
             <% else %>
             &nbsp;&nbsp;  <a href="/cart/<%= item.id %>">Add to Cart</a> &nbsp;&nbsp;
             <% end %>
             &nbsp;&nbsp;
             <br><br>
         </div>
     </td>

   </tr>


<% end %>
</table>

<% if session[:login] == 1 %>
     <p><%= link_to 'New item', new_item_path %></p> <% end %>
